*, html {
    font-size: small;
}
.list-group-item a, a {
    color: gray;
}
th a {
	color: grey;
	font-weight: bold;
}
.form-control {
	border-radius: 0 !important;
	-webkit-appearance: none;
	outline: none;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.settings-font-color {
	color: #004455;
}

.btn {
	border-radius: 0 0;
}

.limit-down {
	border-bottom: solid orange 3px;
}

.alert {
	border-radius: 0 0;
}

.list-group-item:last-child, .list-group-item:first-child {
	border-radius: 0 0;	
}
.error-message {
	color: white;
	background-color: orange;
}

#tabelaUsuarios thead {
}
