*, html {
    font-size: small;
}
.list-group-item a, a {
    color: gray;
}
th a {
	/*color: grey;*/
	font-weight: bold;
}
.form-control {
	border-radius: 0 !important;
	-webkit-appearance: none;
	outline: none;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.settings-font-color {
	/*color: #004455;*/
	color: black;
}

.btn {
	border-radius: 0 0;
}

.limit-down {
	border-bottom: solid orange 3px;
}

.alert {
	border-radius: 0 0;
}

.list-group-item:last-child, .list-group-item:first-child {
	border-radius: 0 0;	
}
.error-message {
	color: white;
	background-color: orange;
}

.w3-sidenav a,.w3-sidenav h4 {padding: 12px;}
.w3-navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}
/*Para a janela de paricipantes do processo de recrutamento*/
.city {display:none;}
.main-tab {display: block;}

.user-icon {
	width: 30%;
	height: 30%;
}

/** Paging do cakephp **/
.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #efefef;
	color: #c73e14;
}

table tr td {
	white-space: nowrap;
	padding-bottom: 0px;
	padding-top: 0px;
}
table {
	border-collapse: collapse;
	margin: 0px;
}